@import "tailwindcss";
@import "flowbite/src/themes/default";
@plugin "flowbite/plugin"; /*add to all css*/
@source "../views";
@source "../../node_modules/flowbite";

a:hover {
    text-decoration: underline;
}

.header2 {
    background-color: #6F4E37;
    font-family: 'Libre Baskerville';
    user-select: none;
    margin-bottom: 6vh;
}

.nav {
    padding-top: 3vh;
    padding-bottom: 2vh;
}

.container {
    max-width: 1200px;
    width: 80%;
    padding: 20px;
    display: flex;
    flex-direction: row;
    align-content: center;
    overflow: hidden;
    margin: 0 auto;
    margin-bottom: 9rem;
}

.containerImg {
    height: auto;
    width: 100%;
    flex-shrink: 0;
    overflow: hidden;
    margin-bottom: 1rem;
    /* to center postImg inside containerImg */
    display: flex;
    align-items: center;
    user-select: none;
}
.tagsContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 1.5rem;
    width: 100%;
    justify-content: space-between;


}
.analytics {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    align-items: center;
}
.analytics img {
    width: 1.5em;
    height: 1.5em;
    object-fit: contain;
    user-select: none;
}
.numbers {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    font-size: 1em;
    align-items: center;
    font-family: 'Libre Franklin';

}
.tags {

    font-family: 'Libre Franklin';
    color: #787879 ;
    font-size: 1em;
    font-style: italic;
    text-align: right;
    align-items: flex-start;
    
    

}

.article {
    max-width: 700px;
    width: 100%;
    
}
.postImg {
    object-fit: cover;
    justify-content: center;
    user-select: none;
    width: 100%;
}

.others {
    width: 100%;
    margin-left: 3rem;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    flex: 1;
    min-width: 300px;

}

h1 {
    font-family: 'Libre Baskerville';
    font-weight: 900;
    font-size: 3em;
    margin-bottom: 0.6rem;
    line-height: 1.2;
}

.details {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 2rem;
    font-family: 'Domine';
    color: #787879 ;
    font-size: 1em;


}

h3 {
    font-family: 'Libre Baskerville';
    font-weight: 900;
    font-size: 1.75em;
}
.others h3 {
    margin-bottom: 1rem;
}


p {
    overflow: hidden;
    font-family: 'Libre Franklin';
    font-size: 1.3em;
    text-align: justify;
}

.content {
    margin-bottom: 3rem;
}
/*=== COMMENTS ===*/

.commentCard {
    gap: 1rem;
}
.otherContentContainer span {
    font-family: 'Libre Franklin';
    font-weight: 550;
    font-size: 1.3em;
    margin: 0;
}
.comments {
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
    margin-bottom: 2rem;
    width: 100%;
    overflow: hidden;
    gap: 0.5rem;
}

.inputComment {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 0.5rem; 
    width: 100%;
}

.commentBox {
    width: 100%;
    height: 13vh;
    border-radius: 0.5rem;
    padding: 0.5rem 1rem;
    font-family: 'Libre Franklin';
    font-size: 1em;
    resize: none;
    flex-grow: 1;
    margin-bottom: 0;
}

.btnWrapper {
    display: flex;
    align-items: flex-end;
    height: 100%;
}

.commentButton {
    height: 3rem;
    border-radius: 0.5rem;
    background-color: #6F4E37;
    color: white;
    font-family: 'Libre Franklin';
    font-size: 1em;
    cursor: pointer;
    border: none;
    padding: 0 1rem;
    white-space: nowrap;
    width: 8vw;
    align-self: flex-end;
}



.user {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    width: 100%;
    justify-content: flex-start;
}

.userDetails {
    display: flex;
    flex-direction: column;
    justify-content: center;
    line-height: 1.2;
  

}

.commentAuthor {
    font-family: 'Libre Franklin';
    font-weight: 550;
    font-size: 0.5em;
    margin: 0;

}
.commentDate {
    font-family: 'Libre Franklin';
    font-size: 0.8em;
    color: #787879 ;
    margin: 0;
}

.commentContent {

    font-size: 1.3em;
  text-align: justify;
  word-break: break-word;
}
/*=== OTHER POSTS ===*/

.other {
    display: flex;
    flex-direction: row;
    background-color: white;
    margin-bottom: 1.5rem;


}

.otherImgContainer {
    height: 13vh;
    width: 6vw;
    flex-shrink: 0;
    overflow: hidden;
    /* to center postImg inside containerImg */
    display: flex;
    align-items: center;
    user-select: none;
}

.img1 {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.otherContentContainer {
    margin-left: 1rem;

}

.otherTitle {
    font-size: 1.25em;
    font-family: 'Libre Franklin';
    text-align: left;
    font-weight: 700;
    line-height: 1.2;
    cursor: pointer;

}

.otherAuthor {
    font-size: 1rem;
    font-family: 'Libre Franklin';
    color: #787879 ;
    line-height: 2;
    text-align: left;
    line-height: 1.5;

}

.line {
    margin-bottom: 1.5rem;
    color: rgb(71, 11, 11);
    background-color: rgb(71, 11, 11);
    height: 0.1vh;
    width: 100%;
    border: none;
}

/* === Commments === */

.commentsSectionContainer
{
    padding: 0px 20px;
    display: flex;
    flex-direction: column;
    align-content: center;
    overflow: visible;
    margin-left:10rem;
    margin-bottom: 9rem;
}

#commentHeader
{
    margin-left: 0.2rem;
}

#commentCardContainer
{
    display: flex;
    flex-direction: column;
    margin-left:2rem;
}

.commentCard
{
    margin-left: 1;
    display: flex;
    flex-direction: row;
}

.profileImageContainer
{
    height: 13vh;
    width: 6vw;
    flex-shrink: 0;
    overflow: hidden;
    /* to center postImg inside containerImg */
    display: flex;
    align-items: center;
    user-select: none;
}

.profileImage
{
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.userHandle
{
    font-family: 'Libre Baskerville';
    font-weight: bolder;
    font-size: 1.75em;
}
.commentSection


/*FOOTER*/

.footer {
    width: 100%;
    height: 18vh;
    background-color: white;
    border-top: .1vw grey solid;
    margin-bottom: 2vh;
}

.footer h5 {
    text-align: center;
    font-family: 'Libre Baskerville';
    font-size: 1.25vw;
    color: #6F4E37;
    user-select: none;
    padding-top: 1vh;

}

.footer h6 {
    text-align: center;
    font-family: 'Libre Baskerville';
    font-size: .75vw;
    color: gray;
    user-select: none;
}

.footer img {
    padding-top: 2vh;
    margin: auto;
}

@media (max-width: 1240px) {
    .otherImgContainer {
        display: none;
    }
    .otherContentContainer {
        margin-left: 0;
    }
    .containerImg {
        margin-bottom: 1rem;
        height: 40vh;

    }
}


@media (max-width: 1030px) {
    .container {
        flex-direction: column;
        align-items: center;
    }
    h1 {
        font-size: 1.65em;
    }

    p, .details, .tags {
        font-size: 0.9em;
    }
    .commentBox, .commentContent {
        font-size: 0.9em;
    }
    .commentButton {
        height: 2rem;
        font-size: 0.9em;
    }
    .commentAuthor {

        font-size: 1.1em;
    }
    .article {
        margin-bottom: 4rem;
    }
    .otherImgContainer {
        display: flex;
        width: 10vw;
    }
    .otherContentContainer {
        margin-left: 2rem;
    }
    h3 {
        font-size: 1.5em;
    }
    .others {
        max-width: 90vw;

    }
    .otherAuthor {
        font-size: 0.75em;
    }
    .analytics {
        flex-wrap: wrap;
        gap:0.5rem;
    }
    .numbers {
        font-size: 0.8em;
    }

}

@media (max-width: 680px) {
    .containerImg {
        margin-bottom: 1rem;
        height: 20vh;

    }
    .otherAuthor {
        font-size: 0.65em;
    }
    .otherImgContainer {
        display: flex;
        width: 18vw;
        height: 12vh;
    }
    .others {
        max-width: 70vw;

    }
    .otherContentContainer {
        margin-left: 0.85rem;
    }
    .commentButton {
        width: 100%; 
        align-self: stretch; 
        text-align: center;
    }
}