@import "tailwindcss";
@import "flowbite/src/themes/default";
@plugin "flowbite/plugin"; /*add to all css*/
@source "../views";
@source "../../node_modules/flowbite";

/* ======> OVERALL <====== */
* {
    box-sizing: border-box;
    scroll-behavior: smooth;
    margin: 0;
}

.hero {
    background-image: url("/public/storage/images/pexels-chevanon-302901.jpg");
    background-repeat: no-repeat;
    background-size:  100%;
    width: 100%;
    height: 80vh;
}


body {
    display: grid;
    grid-row-start: 1;
    grid-row-end: 1;
    margin: 0;
    overflow-x: hidden;
}

.quote {
    user-select: none;
    margin-top: 7%;
    margin-left: 10%;
    margin-right: 40%;
    float: left;
    font-family: 'Libre Baskerville';
    font-size: 4vw;
    font-weight: 600;
    color: white;
    background-color: transparent;
    user-select: none;
    text-shadow: 2px 2px 6px rgba(0,0,0,0.34);
}

.quote:after {
    clear: both;
}

.explore {
    margin-top: 3%;
    margin-left: 18%;
    background-color: #6F4E37;
    color: white;
    padding-left: 2vw;
    padding-right: 2vw;
    padding-top: 1.25vh;
    padding-bottom: 1.25vh;
    border-color: white;
    border-width: .10vw;
    font-family: 'Libre Baskerville';
    font-size: 1.10vw;
    transition: 0.3s;
    user-select: none;
}

.explore:hover {
    background-color: #60412a;
}

.featuredsec {
    margin-top: 3%;
    margin-bottom: 3%;
    width: 100%;
    box-sizing: border-box;
    -ms-user-select: none;
}

.featuredsec h1 {
    margin-left: 11%;
    color: black;
    font-family: 'Libre Baskerville';
    font-size: 1.75vw;
    user-select: none;
}

.card-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 1vh;
}

.card {
    width: 25vw;
    background-color: white;
    overflow: hidden;
    margin: .5vw;
}

.card img {
    width: 100%;
    user-select: none;
}

.tags {
    margin-top: 1.5vh;
    font-family: 'Libre Franklin';
    color: #D3C0B3;
    font-size: .75vw;
}

.card-container h3 {
    font-family: 'Franklin Baskerville';
    font-size: 1.75vw;
    margin-bottom: 1.5vh;
}

.info {
    font-family: 'Libre Franklin';
    color: rgb(145, 145, 145);
    font-size: .75vw;
    margin-bottom: 1.5vh;
    display: flex;
    gap: 5px;
}

.card > .card-content > .info > img {
    max-height: 24px;
    max-width: 24px;
    object-fit: cover;
    min-height: 100%;
    width: 100%;
    user-select: none;
}

@media screen and (max-width: 720px) {
  .card {
   width: 100%
  }
}

.cardsec {
    width: 100%;
    background-color: #D3C0B3;
    padding-top: 4%;
    user-select: none;
}

.card-container2 {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
}

@media (max-width: 768px) { /* Example breakpoint */
    .card-container2 {
        flex-direction: column;
    }

    .card2 {
        width: 80%;
    }
}

.card-container2::after {
    clear: both;
}

.partition {
    height: 50%;
}

.card2 {
    min-height: 60vh;
    max-height: 60vh;
    padding-left: 1.25vw;
    border-radius: .5vw;
    min-width: 20vw;
    max-width: 20vw;
    width: 20vw;
    background-color: white;
    overflow: hidden;
    margin-top: 5vh;
    margin-left: 5vw;
    margin-right: 5vw;
    margin-bottom: 10vh;
}

.cardsec h1 {
    text-align: center;
    color: #6F4E37;
    font-family: 'Libre Baskerville';
    font-size: 2.25em;
    user-select: none;
}

.cardsec .subheading {
    text-align: center;
    color: #6F4E37;
    font-family: 'Libre Baskerville';
    font-size: 1.25em;
    padding-bottom: .25%;
    user-select: none;
}

.cardsec h2 {
    color: #6F4E37;
    font-family: 'Libre Baskerville';
    font-size: 2em;
    padding-top: 10vh;
    margin-right: 20%;
    user-select: none;
}

.cardsec .body {
    color: #6F4E37;
    font-family: 'Libre Franklin';
    font-size: 1.05em;
    padding-bottom: 8vh;
    margin-right: 15%;
    user-select: none;
    margin-bottom: 16vh;
}

.cta {
    margin-top: 10vh;
    width: 100%;
    background-color: white;
}

.ctacol {
    float: left;
    width: 50%;
    margin-bottom: 10vh;
}

.ctacol h3 {
    padding-left: 2vw;
    font-family: 'Libre Baskerville';
    font-size: 3vw;
    color: #6F4E37;
    user-select: none;
}

.ctacol .more {
    font-family: 'Libre Franklin';
    margin-top: 2vh;
    margin-right: 20%;
    color: #6F4E37;
    user-select: none;
    padding-left: 2vw;
}

.ctacol img {
    float: right;
    width: 40vw;
    height: 30vh;
    margin-right: 2vw;
    margin-left: 8vw;
    object-fit: cover;
    object-position: center;
    user-select: none;
}

.signup {
    margin-top: 3%;
    margin-left: 2vw;
    background-color: #6F4E37;
    color: white;
    padding-left: 2vw;
    padding-right: 2vw;
    padding-top: 1.25vh;
    padding-bottom: 1.25vh;
    border-color: white;
    border-width: .10vw;
    font-family: 'Libre Baskerville';
    font-size: 1.10vw;
    transition: 0.3s;
    user-select: none;
}

.signup:hover {
    background-color: #60412a;
}
